<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StoreAdmin - Products</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Common Styles -->
    <link rel="stylesheet" href="/admin/common/styles.css" />
    <link rel="stylesheet" href="/admin/common/sidebar.css" />
    <link rel="stylesheet" href="/admin/common/header.css" />
    <!-- Page Specific Styles -->
    <link rel="stylesheet" href="/admin/css/orderDetails.css" />
  </head>
  <body>
    <div class="container">
      <!-- Include Sidebar -->
      <div id="sidebar-placeholder">
        <%- include('./partials/sidebar.ejs') %>
      </div>

      <main class="main-content">
        <!-- Include Header -->
        <div id="header-placeholder">
          <div class="header">
            <div class="menu-toggle">
              <i class="fas fa-bars"></i>
            </div>
            <div class="admin-info">
              <div class="admin-avatar">A</div>
              <span>Admin</span>
            </div>
          </div>
        </div>

        <!-- Page Specific Content -->
        <div class="products-header">
          <h1>Order Details</h1>
          <!-- Rest of your page content -->
          <div class="order-detail-container <%= (orderData.orderStatus == 'Cancelled') ? 'cancelled-order' : ''%>">

            <div class="detail-header">
              <div class="header-content">
                <div>
                  <h1 class="order-title"><%- orderData.orderId %></h1>
                  <p class="order-date">Placed on <%- orderData.createdAt.toISOString().substring(0,10) %></p>
                </div>
                <div class="status-section">
                  <span class="current-status status-<%- orderData.orderStatus.toLowerCase() %>"
                    ><%- orderData.orderStatus %></span
                  >
                  <div>
                    <% if(orderData.paymentStatus && orderData.paymentStatus != 'Success'){ %>
                      <p>Payment pending</p>
                    <% }else { %>
                      <select class="status-select" onchange="changeOrderStatus(event, '<%-orderData._id%>')">
                        <option value="pending" <%= orderData.orderStatus == 'Pending' ? 'selected' : "" %> >Pending</option>
                        <option value="processing" <%= orderData.orderStatus == 'Processing' ? 'selected' : "" %> >Processing</option>
                        <option value="shipped" <%= orderData.orderStatus == 'Shipped' ? 'selected' : "" %> >Shipped</option>
                        <option value="delivered" <%= orderData.orderStatus == 'Delivered' ? 'selected' : "" %> >Delivered</option>
                        <option value="cancelled" <%= orderData.orderStatus == 'Cancelled' ? 'selected' : "" %> >Cancelled</option>
                      </select>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-card">
              <h2 class="card-title">Order Items</h2>
              <table class="items-table">
                  <thead>
                      <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Price</th>
                      </tr>
                  </thead>
                  <tbody>
                      <%orderData.products.forEach(prod =>{%>
                        <tr>
                          <td>
                            <div class="product-name"><%- prod.productId.product_name %></div>
                          </td>
                          <td><%- prod.quantity %></td>
                          <% if(!prod.isReturn){ %>
                            <td class="prod-total-amount"><%- prod.productId.price * prod.quantity %></td>
                            <% }else{ %>
                              <td class="prod-total-amount">Returned</td>
                            <% } %>
                        </tr>
                      <%})%>
                      
                  </tbody>
              </table>

              <div class="price-breakdown">
                <div class="price-row">
                  <span >Subtotal</span>
                  <span id="subtotal">₹<%- orderData.totalAmount %></span>
                </div>
                <div class="price-row">
                  <span>Shipping</span>
                  <span>Free</span>
                </div>
                <!-- <div class="price-row">
                  <span>Tax</span>
                  <span>$130.23</span>
                </div> -->
                <div class="total-row">
                  <span>Total</span>
                  <span id="total">₹<%- orderData.totalAmount %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Common Scripts -->
    <script src="/admin/common/scripts.js"></script>
    <!-- Page Specific Scripts -->
    <script src="/admin/js/orderDetails.js"></script>
  </body>
</html>
