<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/admin/css/productForm.css" />
    <link href="/admin/cropperJS/cropper.css" rel="stylesheet" />
    <link rel="stylesheet" href="/tas_admin/productStyle.css" />
  </head>
  <body>
    <!-- Modal start -->
    <div
      class="modal fade"
      id="cropModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Crop image</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center">
            <img
              id="image"
              alt="Crop Image"
              style="height: 200px; width: auto; object-fit: cover"
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary mx-auto" id="cropBtn">
              Crop
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->
    <main class="py-3" style="width: 500px; margin: auto">
      <div class="bg-light">
        <h3 class="text-primary fw-bolder py-2">Add product</h3>
      </div>
      <form
        id="prod-form"
        action="/admin/product/add"
        enctype="multipart/form-data"
      >
        <div class="row py-4">
          <div class="form-group py-2">
            <label for="" class="form-label">Product name</label>
            <input
              type="text"
              class="form-control"
              name="product_name"
              placeholder="Product name"
              required
            />
          </div>
          <div class="form-group py-2">
            <label class="form-label">Quantity</label>
            <input
              type="number"
              class="form-control"
              name="quantity"
              placeholder="Quantity"
              required
            />
          </div>
          <div class="form-group py-2">
            <label class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              name="price"
              placeholder="Price"
              required
            />
          </div>
          <div class="form-group py-2">
            <label class="form-label">Color</label>
            <select name="color" class="dropdown form-control" required>
              <option value="">Select</option>
              <% for(let color of colors){ %>
              <option value="<%- color._id%>">
                <%- color.color_name %>
              </option>
              <%}%>
            </select>
          </div>
          <div class="form-group py-2">
            <label class="form-label">Category</label>
            <select name="category" class="dropdown form-control" required>
              <option value="">Select</option>
              <% for(let category of categories){ %>
              <option value="<%- category._id%>">
                <%- category.category_name %>
              </option>
              <%}%>
            </select>
          </div>
          <div class="form-group py-2">
            <label class="form-label">Description</label>
            <textarea
              class="description_area form-control"
              name="description"
              id=""
              rows="4"
              placeholder="Product description..."
              required
            ></textarea>
          </div>
          <div class="form-group py-2">
            <label class="form-label">Select Images</label>
            <div class="upload-section d-flex flex-wrap gap-3">
              <div class="upload-box">
                  <input type="file" accept="image/*" name="product_images[]">
                  <div class="plus-icon"></div>
                  <p>Main image</p>
                  <button type="button" class="remove-btn">×</button>
              </div>
              <div class="upload-box">
                  <input type="file" accept="image/*" name="product_images[]">
                  <div class="plus-icon"></div>
                  <button type="button" class="remove-btn">×</button>
              </div>
              <div class="upload-box">
                  <input type="file" accept="image/*" name="product_images[]">
                  <div class="plus-icon"></div>
                  <button type="button" class="remove-btn">×</button>
              </div>
              <div class="upload-box add-more">
                  <input type="file" accept="image/*" name="product_images[]">
                  <div class="plus-icon"></div>
                  <button type="button" class="remove-btn">×</button>
              </div>
          </div>
          <div class="form-group py-2 text-center" id="prevImagesSection"></div>
        </div>
        <div class="form-group text-center">
          <a href="/admin/products" class="btn btn-outline-secondary">Cancel</a>
          <button type="submit" class="btn btn-primary">Add product</button>
        </div>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
    <script src="/admin/cropperJS/cropper.js"></script>
    <script src="/admin/js/imageScript.js"></script>
  </body>
</html>
