
<%if(products){%> 
  <% products.forEach( product => { %>
    <a href="/product-details?id=<%-product._id%>" class="card-item-wrapper">
      <div class="card-item" style="background-image: url(data:image/<%=product.images[0].contentType%>;base64,<%=product.images[0].data.toString('base64')%>)">
        <div class="product_info card-md">
          <h3><%-product.product_name%><span> <%-product.color%></span></h3>
          <p>Price ₹<%-product.price%></p>
        </div>
      </div>
    </a>
  <% }) %>
  <%}%>